/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

&led_strip {
    chain-length = <35>;
};

 / {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   -   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   _   |
            // | CTRL  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   [    |  ]       |  N   |  M    |  <    |  >   |   ?   | SHIFT |
            //                     | ALT  | GUI  | MO(1)|  SPACE |  | ENTER | BSPC| GUI  | MO(2)  |
            bindings = <
&kp ESC   &kp N1     &kp N2     &kp N3    &kp N4     &kp N5                     &kp N6    &kp N7   &kp N8    &kp N9    &kp N0    &kp MINUS
&kp TAB   &kp Q      &kp W      &kp E     &kp R      &kp T                      &kp Y     &kp U    &kp I     &kp O     &kp P     &kp UNDERSCORE
&kp LCTRL &kp A      &kp S      &kp D     &kp F      &kp G                      &kp H     &kp J    &kp K     &kp L     &kp SEMI  &kp SQT
&kp LSHFT &kp Z      &kp X      &kp C     &kp V      &kp B  &kp LBRC   &kp RBRC &kp N     &kp M    &kp LT    &kp GT    &kp QMARK &kp RSHFT
                        &kp LALT &kp LGUI &mo 1       &kp SPACE  &kp ENTER       &kp BSPC  &kp RGUI &mo 2
            >;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  | Prnt| Scrl|Pause|      |      |                   |  %   | NLck |   ÷   |  ×   |   -   |   \   |
            // |  TAB  | Ins | Home|PgUp |      |      |                   |  7   |  8   |  9    |  +   |   +   | RCTL |
            // | CTRL  | Del | End |PgDn |MStop| Prev |                   |  4   |  5   |  6    | Ent  |  Ent  | RShft|
            // | SHIFT |Play |MStp |Next |      |      |        |         |  1   |  2   |  3    | Ent  |  Ent  | RShft|
            //                     | ALT  | GUI  | MO(1)|  SPACE |  | ENTER |  0  |  0   |  .     |
            bindings = <
&kp ESC   &kp PSCRN  &kp SLCK   &kp PAUSE &trans     &trans                     &kp PRCNT &kp NUM_LOCK &kp KPDIV  &kp KPMUL &kp KPMINUS &kp BSLH
&kp TAB   &kp INS    &kp HOME   &kp PG_UP &trans     &trans                     &kp N7      &kp N8    &kp N9     &kp KPPLUS &kp KPPLUS &kp RCTRL
&kp LCTRL &kp DEL    &kp END    &kp PG_DN &kp MSTP   &kp PREV                   &kp N4      &kp N5    &kp N6     &kp NENT   &kp NENT   &kp RSHFT
&kp LSHFT &kp C_PLAY &kp MSTP   &kp NEXT  &trans     &trans &trans    &trans    &kp N1      &kp N2    &kp N3     &kp NENT   &kp NENT   &kp RSHFT
                       &kp LALT &kp LGUI  &mo 1       &kp SPACE  &kp ENTER       &kp N0      &kp N0    &kp DOT
            >;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  F1   |Prnt |Scrl |Pause|      |      |                   |BLTgg | BLOn | BLOff | BL-  |  BL+  |BLCycl |
            // |  Ins  |Home |PgUp |     |      |      |                   |Hue-  | Hue+ | Sat-  | Sat+ |      |       |
            // |  F3   | Del | End |PgDn |  F6  |  F7  |                   |Brt-  | Brt+ |  [    |  ]   |      |       |
            // |  F4   |  F5 |  F6 |  F7 |  F8  |  F9  |        |         |  +   |  =   |       |      |      |       |
            //                     | F10 | F11  | F12  |  SPACE |  | ENTER |      |      |       |
            bindings = <
&kp F1    &kp PSCRN  &kp SLCK   &kp PAUSE &trans     &trans                     &rgb_ug RGB_TOG &rgb_ug RGB_ON &rgb_ug RGB_OFF &rgb_ug RGB_BRI_DN &rgb_ug RGB_BRI_UP &rgb_ug RGB_EFF_NEXT
&kp INS   &kp HOME   &kp PG_UP  &trans    &trans     &trans                     &rgb_ug RGB_HUE_DN &rgb_ug RGB_HUE_UP &rgb_ug RGB_SAT_DN &rgb_ug RGB_SAT_UP &trans &trans
&kp F3    &kp DEL    &kp END    &kp PG_DN &kp F6     &kp F7                      &rgb_ug RGB_BRI_DN &rgb_ug RGB_BRI_UP &kp LBKT &kp RBKT &trans &trans
&kp F4    &kp F5     &kp F6     &kp F7    &kp F8     &kp F9    &trans &trans     &kp KP_PLUS &kp KP_EQUAL &trans &trans &trans &trans
                      &kp F10   &kp F11   &kp F12    &kp SPACE &kp ENTER          &trans &trans &trans
            >;
        };
    };
};

&led_strip {
    chain-length = <35>;
};
